form {
    padding: 10px;
    border: 1px solid black
}
#header {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.contact-label {
    display: block;
    padding: 10px;
}

#favorite-place, #answer, #best-date, #agree, #copyright {
    padding: 10px;
}


#textarea {
    display: block;
    resize: none;
}