.super-mario {
    width: 200px;
    border: 1px red solid;
  }
  
  .goomba {
    width: 100px;
    border: 1px red solid;
    display: block;
  }
  
  .baloon {
    border: 1px solid red;
    position: absolute;
    display: block;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    border: 1px solid red;
    position: absolute;
    z-index: 2;
    left: 30px;
    bottom: 130px;
  }
  
  .bowser {
    width: 200px;
    border: 1px red solid;
  }